In [2]:
import pandas as pd
import numpy as np
import faiss
from utils import clean_text
from sentence_transformers import SentenceTransformer

In [3]:
# Read dataset
df = pd.read_csv('news_dataset.csv', encoding='latin-1')
data = df[['id', 'article']]
data.head()

      id                                            article
0  17307  PARIS  ?   When the Islamic State was about to...
1  17292  Angels are everywhere in the Mu?iz family?s ap...
2  17298  Finally. The Second Avenue subway opened in Ne...
3  17311  WASHINGTON  ?   It?s   or   time for Republica...
4  17339  For Megyn Kelly, the shift from Fox News to NB...

In [4]:
# Check for duplicates
data[data.duplicated(subset=['article'], keep=False)]

        id                                            article
41   17313  The body of the Iraqi prisoner was found naked...
219  17545  DETROIT  ?   Just before the holidays, on a da...
220  17546  DETROIT  ?   Just before the holidays, on a da...
752  18185  The body of the Iraqi prisoner was found naked...
753  18186  The body of the Iraqi prisoner was found naked...
886  18337  HOUSTON  ?   The chants rang out loud and long...
887  18338  HOUSTON  ?   The chants rang out loud and long...
888  18339  Picking the pain reliever that?s best for you ...
889  18341  Picking the pain reliever that?s best for you ...

In [5]:
# Drop duplicates
data_no_dup = data.drop_duplicates(subset=['article'],keep='first').reset_index(drop=True)
data_no_dup.head()

      id                                            article
0  17307  PARIS  ?   When the Islamic State was about to...
1  17292  Angels are everywhere in the Mu?iz family?s ap...
2  17298  Finally. The Second Avenue subway opened in Ne...
3  17311  WASHINGTON  ?   It?s   or   time for Republica...
4  17339  For Megyn Kelly, the shift from Fox News to NB...

In [7]:
# Create chunking function
def chunk_text(data_index, data_text, chunk_size, chunk_overlap):

    list_chunk_text = []

    for position in range(len(data_index)):
        
        # Clean data
        words = clean_text(data_text[position]).split()

        # Chunk data
        start = 0
        part = 1
        while start < len(words):
            end = start + chunk_size
            segment = ' '.join(words[start:end])
            list_chunk_text.append((str(data_index[position]) + str(part), segment))
            part += 1
            start += (chunk_size - chunk_overlap)

    return pd.DataFrame(list_chunk_text, columns=['id', 'article'])

In [8]:
# Create training dataset
data_chunk_train = chunk_text(data_no_dup[:5]['id'], data_no_dup[:5]['article'], 100, 50)
data_chunk_train.to_csv('data_chunk_train.csv', index=False)

# Create testing dataset
data_no_train = data_no_dup[5:].reset_index(drop=True)
data_chunk = chunk_text(data_no_train['id'], data_no_train['article'], 500, 50)
data_chunk.to_csv('data_chunk.csv', index=False)

In [44]:
# Set up model to encode data
model = SentenceTransformer('msmarco-distilbert-base-dot-prod-v3')

# Vectorize data
encoded_data = model.encode(data_chunk['article'].tolist())
encoded_data = np.asarray(encoded_data.astype('float32'))

In [45]:
# Save vector database
index = faiss.IndexIDMap(faiss.IndexFlatIP(768))
index.add_with_ids(encoded_data, np.array(range(0, len(data_chunk))))
faiss.write_index(index, 'data_article.index')