In [1]:
from question import query_answer

In [2]:
query = "Who is the vice chairman of Samsung?"

context = query_answer(query)
context

       id                                            article     score
0  175741  SEOUL, South Korea A special prosecutor invest...  0.932384
1  177641  SEOUL, South Korea A South Korean court on Thu...  0.755741
2  177642  from state prosecutors last month, has called ...  0.046902
3  175742  over the investigations from the state prosecu...  0.006561
4  178513  said Don Rosenberg, a lawyer for Qualcomm. The...  0.001054
5  176291  LOS ANGELES The chief executive of Sony's unde...  0.000271
6  173541  The Wall Street lawyer Walter J. Clayton does ...  0.000181
7  183332  an Android device. More than 46 billion digita...  0.000171
8  178303  Brothers in trouble, is all over prime time, e...  0.000171
9  184433  as chairman of his transition months before El...  0.000170

In [3]:
import pandas as pd
data = pd.DataFrame(context)
data.to_csv('article_indexing_result.csv')